{
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ docker_log_max_size | default('10m') }}",
    "max-file": "{{ docker_log_max_file | default('3') }}"
  },
  "storage-driver": "overlay2",
  "features": {
    "buildkit": true
  }
}
